<div id="about">
    <app-navbar></app-navbar>
    <section class="mb-1">
        <div id="slider-animation-2" class="carousel slide" data-ride="carousel">
            <!-- The slideshow -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../../assets/images/sliderr.png" alt="Los Angeles">
                    <div class="text-box">
                        <div class="row align-items-center">
                            <div class="col-md-6">
                                <h1 class="wow fadeInUp" data-wow-duration="4s">QueueLand manager</h1>
                                <h3 class="wow fadeInUp" data-wow-duration="2s">La solution pour éviter de longue et interminable fil d'attente. </h3>
                            </div>
                            <div class="col-md-6 wow slideInLeft" data-wow-duration="4s">
                                <img src="assets/images/fil.png">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="../../assets/images/preview.png" alt="">
                    <div class="text-box">
                        <div class="row align-items-center">
                            <div class="col-md-6  wow slideInRight" data-wow-duration="4s">
                                <h1>Souriez à la vie</h1>
                                <h3>Rejouissez-vous et passez le moins de temps possible à la banque.</h3>
                            </div>
                            <div class="col-md-6  wow slideInLeft" data-wow-duration="4s">
                                <img src="../../assets/images/undraw.png">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item itemm">
                    <img src="../../assets/images/manager.png" alt="New York">
                    <div class="text-box">
                        <div class="row align-items-center">
                            <div class="col-md-6 wow slideInLeft" data-wow-duration="4s">
                                <h1>Tellement simple</h1>
                                <p>Obtenez votre ticket en un seul clic. <br> Connectez-vous sur la plateforme, ou l'application mobile <br> Telechargeable via: </p>
                                <img src="../../assets/images/border.png" class="imgCar" alt=""> &nbsp; <img src="../../assets/images/fr-ios-badge-border.png" class="imgCar" alt="">
                            </div>
                            <div class="col-md-6  wow fadeInUp" data-wow-duration="4s">
                                <img src="../../assets/images/bb.png">
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!-- controls -->
            <a class="carousel-control-prev" href="#slider-animation-2" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#slider-animation-2" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>

        </div>
    </section>

    <!-- secteurs  -->
    <section id="secteurs-activites" class="container mt-4 mb-4">
        <!-- cibles -->
        <h5 class="section-title h1 text-center">LES SECTEURS D'ACTIVITES</h5>
        <br><br>
        <div class="container">
            <div class="secteur">
                <!-- Banques -->
                <div class="card card2 ">
                    <h4 class="title text-center">BANQUE</h4>
                    <img src="../../assets/images/bank2.png " class="imd" width=" 150px " alt=" ">
                </div>
                <!-- Banques -->

                <!-- Services commerciaux -->
                <div class="card card2 ">
                    <h4 class="title text-center">TELECOM</h4><br><br><br>
                    <img src="../../assets/images/com.svg " class="imd1" width=" 100px " alt=" ">
                </div>
                <!-- Services commerciaux -->

                <!-- Santé -->
                <div class="card card2 ">
                    <h4 class="title text-center ">SANTE</h4>
                    <img src="../../assets/images/medecine.png " class="imd" width=" 150px " alt=" ">
                </div>
                <!-- Santé-->

                <!--Gouvernement -->
                <div class="card card2 ">
                    <h4 class="title text-center ">GOUVERNEMENT</h4>
                    <img src="../../assets/images/gouvernement.png " class="imd" width="150px " alt=" ">
                </div>
                <!-- Gouvernement -->
            </div>
        </div>
        <!-- cibles -->
    </section>
    <!-- secteurs  -->
    <br>

    <!-- inscription connexion -->
    <section id="login" class="container mb-4 ">
        <div class="container ">
            <h5 class="section-title h1 text-uppercase text-center">Entreprises et Consommateurs</h5>
            <div class="row mt-2 mb-4 ">
                <div class="col-md-12 ">
                    <div class="card ">
                        <h3>Vous êtes une entreprise ?</h3>
                        <div class="row ">
                            <div class="col-md-9 col-sm-12 ">
                                <p>Vous cherchez un moyens pour gerer vos fil d'attente. Une seule solution,<strong> QueueLand-manager </strong>. Gerer vos fil d'attentes en un temps records pour un meilleur service. Pour se faire, c'est simple:
                                </p>
                                <div class="container container-btn ">
                                    <a routerLink="/plus-info" id="liens ">
                                        <button class="btn btn-customers btn1 ">Lire plus</button>
                                    </a>
                                    <a routerLink="/entreprise-register" id="liens ">
                                        <button class="btn btn-customers btn2 ">S'inscrire</button>
                                    </a>
                                    <a routerLink="/entreprise-login-register" id="liens ">
                                        <button class="btn btn-customers btn1 ">Se connecter</button>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-12 card-3 "></div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="col-md-12 mb-4 ">
                    <div class="card ">
                        <h3>Clients / Prospects</h3>
                        <div class="row ">
                            <div class="col-md-9 col-sm-12 ">
                                <p>
                                    Etes-vous fatigué de passer des heures, souvent sous le soleil à attendre d'être reçu dans un quelconque service ? Economisez votre temps grâce à <strong>QueueLand-manager</strong>, inscrivez-vous ou connectez-vous
                                    pour beneficier de nos services. <br>
                                    <!-- obtenir un ticket d'attente en ligne. -->
                                    Pour se faire, c'est simple Cliquez ici:
                                </p>
                                <div class="container container-btn ">
                                    <a routerLink="plus-info" id="liens ">
                                        <button class="btn btn-customers btn1 ">Lire plus</button>
                                    </a>
                                    <a routerLink="/user-register" id="liens ">
                                        <button class="btn btn-customers btn2 ">S'inscrire</button>
                                    </a>
                                    <a routerLink="/user-login-register" id="liens ">
                                        <button class="btn btn-customers btn1 ">Se connecter</button>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-12 card-2 "></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- inscription connexion -->
    <app-footer></app-footer>
</div>
