<!-- <div class="container user-login-cnt">
    <section id="formHolder">
 
       <div class="row">
 
          <!-- Brand Box -->
<!-- <div class="col-sm-6 brand">
             <img src="assets/images/qq3.png" class="logo">
 
             <div class="heading">
                <p>Veuillez remplir un formulaire selon votre besoin</p>
             </div>
 
             <div class="success-msg">
                <p>Super! Vous êtes l'un des notre maintenant</p>
                <a routerLink="/user-dashbord" class="profile">Votre Profile</a>
             </div>
          </div>  -->


<!-- Form Box -->
<!-- <div class="col-sm-6 form"> -->

<!-- Login Form -->
<!-- <div class="login form-peice switched">
                <form [formGroup]="angForm" (ngSubmit)="postdata(angForm)" autocomplete="off" class="login-form">
                   <div class="form-group">
                      <label for="loginemail">Adresse email</label>
                      <input type="email" name="email" formControlName="email" autocomplete="off" id="loginemail" required>
                   </div>
 
                   <div class="form-group">
                      <label for="loginPassword">Mot de passe</label>
                      <input type="password" name="password" formControlName="motDePasse" autocomplete="off" id="loginPassword" required>
                   </div>
 
                   <div class="CTA">
                      <input type="submit" value="Connexion">
                      <br>
                      <br>
                      <a href="/user-login-register" class="switch">Je n'ai pas de compte</a>
                   </div>
                </form>
             </div>End Login Form -->


<!-- Signup Form -->
<!-- <div class="signup form-peice">
                <form class="signup-form"  [formGroup]="angForm" (ngSubmit)="postdata1(angForm)" autocomplete="off">
 
                   <div class="form-group">
                      <label for="name">Nom</label>
                      <input type="text" name="nom" formControlName="nom"  autocomplete="off" id="name" class="name">
                      <span class="error"></span>
                   </div> -->

<!-- <div class="form-group">
                      <label for="email">Adresse email</label>
                      <input type="email" name="email" formControlName="email"  autocomplete="off" id="email" class="email">
                      <span class="error"></span>
                   </div>
 
                   <div class="form-group">
                      <label for="phone">Numero de téléphone</label>
                      <input type="text" name="numeroTel" formControlName="numeroTel"  autocomplete="off" id="phone">
                   </div>
 
                   <div class="form-group">
                      <label for="password">Mot de passe</label>
                      <input type="password" name="motDePasse" formControlName="motDePasse" autocomplete="off" id="password" class="pass">
                      <span class="error"></span>
                   </div> -->

<!-- <div class="form-group">
                      <label for="passwordCon"> Confirmez votre </label>
                      <input type="password" name="passwordCon" id="passwordCon" class="passConfirm">
                      <span class="error"></span>
                   </div> -->

<!-- <div class="CTA mb-3">
                      <input type="submit" value="Inscription" id="submit">
                      <a href="/user-login-register" class="switch">J'ai deja un compte</a>
                   </div>
                   <br><br>
                </form>
             </div><!-- End Signup Form -->
<!-- </div>
       </div>
 
    </section>
 </div>  -->


<div class="container">
    <form class="box">
        <h1>Welcome back</h1>
        <input type="text" name="" placeholder="N° de téléphone">
        <input type="password" name="" placeholder="Mot de passe">
        <a routerLink="/clt-dashboard">
            <input type="submit" name="" value="Connexion"></a>
    </form>
</div>