<section id="user">
    <div class="container">
        <form class="box">
            <h1>S'inscrire</h1>
            <input type="text" name="nom" placeholder="Nom">
            <input type="email" name="email" placeholder="Adresse email">
            <input type="text" name="numeroTel" placeholder="N° de téléphone">
            <input type="password" name="password" placeholder="Mot de passe">
            <input type="password" name="" placeholder="Confirmer le mot de passe">
            <input type="submit" name="" value="Soumettre">
        </form>
    </div>
</section>