<div class="contact-section">
    <!-- <div class="row"> -->
        <!-- <div class="col-md-5">
            <div class="card ml-4 mt-3 mb-3" style="height: 38em; width: 35em; border: none;">
                <div class="card-header mt-3">
                    <h1>Nous contacter</h1>
                </div>
                <br><br><br>
                <div class="card-body text-center" style="color: #108d6f;">
                    <p>
                        Demandes de renseignements. <br>
                        Obtenir les coordonnées de nos bureaux ? <br><br>
                        Une question sur nos services ? <br><br>
                        Déjà client ? Voulez-vous contacter les services d'assistance ? <br><br>
                        Toute notre équipe se spécialise pour vous assurer de recevoir 
                        les meilleures informations possibles. <br><br>
                    </p>
                </div>
                <button type="button" style="background-color: #f95959 !important; border: none;">
                    Retour sur la page d'accueil</button>
            </div>
        </div> -->

        <div class="mr-auto">
      
                     <form class="contact-form" action="" method="post">
                        <h2 style="color: #ffffff;">Nous contacter</h2>
                        <input type="text" class="contact-form-text" placeholder="Nom">
                        <input type="email" class="contact-form-text" placeholder="Email">
                        <textarea class="contact-form-text" placeholder="Message"></textarea>
                        <input type="submit" class="contact-form-btn" value="Envoyer">
                     </form>
        </div> 
</div>