<div class="container">
    <div class="row mt-4">

<!-- plus d'info pour les entreprises -->
        <div class="col-md-6">
            <h1>Entreprise</h1>
        Cher entreprise, vous avez surement expérimenté le fait d'etre au bord de la crise face à l'accroissement de vos clients en salle d'attente sans toutefois pouvoir les gerer; 
        Alors pour vous faciliter la tâche, queueland vous offre ses services.
        Voyez ainsi les 5 RAISONS qui vous pousseraient à nous réjoindre:
<br><br>
            <ol>
                <li>Plus de stress, moins de personnes dans votre salle</li>
                <li>Gerer fqcilement les entrées et sorties de vos clients</li>
                <li>Liste de personnes en attentes en tant réel</li>
                <li>Recevez vos clients sans avoir à vous déplacer pour les appeler</li>
                <li>Voir les statistiques de vos services</li>
            </ol>
        </div>
<!-- plus d'info pour les entreprises -->


<!-- plus d'info pour les clients -->
        <div class="col-md-6">
               <h1>Clients / Prospects</h1> 
                Etes-vous fatigué de passer des heures, souvent sous le soleil à attendre d'être reçu dans un quelconque service ? Economisez votre temps grâce à QueueLand-manager, inscrivez-vous ou connectez-vous pour beneficier de nos services.
                Pour se faire, c'est simple Cliquez ici:
        </div>
<!-- plus d'info pour les clients -->

    </div>
</div>