<!-- Formulaire de connexion-entreprise -->
<div id="register-section">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-6">
            <div class="login-box mt-5 mb-5">
                <br><br><br>
                <span>Bienvenue <br>
          </span>
                <div class="textbox">
                    <input type="text" placeholder="Nom d'utilisateur">
                </div>

                <div class="textbox">
                    <input type="password" placeholder="Mot de passe">
                </div>

                <a routerLink="/entreprise-dashboard"><input type="button" class="btn" value="connexion"></a>
            </div>
            <br><br><br>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
<!-- Formulaire de connexion-entreprise -->







<!-- <div class="container">
    <div class="card">
        <div class="imgBox" style="background-color: #108d6f !important;">
            <img src="../../assets/images/gou-removebg-preview.png">
            <br>
           <p class="text-center" style="font-size: 30px !important;">Banques</p>
        </div>
            <div class="details">
                <h2>un test un test</h2>
                <p>un test unun test 
                un test unun test un
                un test unun test un
                un test unun test un
                un test unun test </p>
            </div>
    </div>

    <div class="card">
        <div class="imgBox">
            <img src="../../assets/images/gou-removebg-preview.png">
        </div>
            <div class="details">
                <h2>un test un test</h2>
                <p>un test unun test 
                un test unun test un
                un test unun test un
                un test unun test un
                un test unun test </p>
            </div>
    </div>

    <div class="card">
        <div class="imgBox">
            <img src="../../assets/images/gou-removebg-preview.png">
        </div>
            <div class="details">
                <h2>un test un test</h2>
                <p>un test unun test 
                un test unun test un
                un test unun test un
                un test unun test un
                un test unun test </p>
            </div>
    </div>

    <div class="card">
        <div class="imgBox">
            <img src="../../assets/images/gou-removebg-preview.png">
        </div>
            <div class="details">
                <h2>un test un test</h2>
                <p>un test unun test 
                un test unun test un
                un test unun test un
                un test unun test un
                un test unun test </p>
            </div>
    </div>

    <div class="card">
        <div class="imgBox">
            <img src="../../assets/images/gou-removebg-preview.png">
        </div>
            <div class="details">
                <h2>un test un test</h2>
                <p>un test unun test 
                un test unun test un
                un test unun test un
                un test unun test un
                un test unun test </p>
            </div>
    </div>

    <div class="card">
        <div class="imgBox">
            <img src="../../assets/images/gou-removebg-preview.png">
        </div>
            <div class="details">
                <h2>un test un test</h2>
                <p>un test unun test 
                un test unun test un
                un test unun test un
                un test unun test un
                un test unun test </p>
            </div>
    </div>

</div>  -->






<!-- <section class="container">
<div class="wrapper">
    <div class="card">
        <img src="../../assets/images/qq3.png">
        <div class="info">
            <h1>heading</h1>
            <p> un test unun test un
                un test unun test un
                un test unun test un</p>
        </div>
    </div>

    <div class="card">
        <img src="../../assets/images/qq3.png">
        <div class="info">
            <h1>heading</h1>
            <p> un test unun test un
                un test unun test un
                un test unun test un</p>
        </div>
    </div>

    <div class="card">
        <img src="../../assets/images/qq3.png">
        <div class="info">
            <h1>heading</h1>
            <p> un test unun test un
                un test unun test un
                un test unun test un</p>
        </div>
    </div>

    <div class="card">
        <img src="../../assets/images/qq3.png">
        <div class="info">
            <h1>heading</h1>
            <p> un test unun test un
                un test unun test un
                un test unun test un</p>
        </div>
    </div>

</div>
</section>  -->

<!--  
            <div class="wrapper">
                    <div class="card">
                        <h3>Banques</h3>
                        <img src="../../assets/images/gou-removebg-preview.png">
                            <div class="info">
                                <p>Avec <b> QueueLand-manager, </b><br>gerer facilement vos clients pour des services efficaces.</p>
                            </div>
                    </div>
            </div> 
                 -->