<!-- <div class="container text-center">
    <br><br><br><br><br><br>
    <h1 style=" color: #f95959 !important ">Désolée, cette page n'existe pas!</h1>

    <a routerLink="/">
        Aller à la page d'acceuil
    </a>
</div> -->
<div class="wrapper">
    <div class="sidebar">
        <div class="bg_shadow"></div>
        <div class="sidebar__inner">
            <div class="close">
                <i class="fas fa-times"></i>
            </div>
            <div class="profile_info">
                <div class="profile_img">
                    <img src="profile.png" alt="profile_img">
                </div>
                <br><br><br>
            </div>
            <ul class="siderbar_menu">
                <li class="tablinks" onclick="Buttonclick(event, 'button-1')" id="defaultOpen">
                    <button>
                        Accueil
                    </button>
                </li>
                <li class="tablinks" onclick="Buttonclick(event, 'button-2')">
                    <button class="title">
                        Salle d'attente
                    </button>
                </li>
                <li class="tablinks" onclick="Buttonclick(event, 'button-3')">
                    <button class="title">
                        Tikets Réservés
                    </button>
                </li>
                <li class="tablinks" onclick="Buttonclick(event, 'button-4')">
                    <button class="title">Ajouter un service</button>
                </li>
            </ul>
        </div>
    </div>
    <div class="main_container">
        <div class="top_navbar">
            <div class="hamburger">
                <div class="hamburger__inner">
                    <i class="fas fa-bars"></i>
                </div>
            </div>
            <ul class="menu">
                <li>Mes Informations
                </li>
            </ul>
            <ul class="right_bar">
                <li><i class="fas fa-search"></i></li>
                <li><i class="fas fa-sign-out-alt"></i></li>
            </ul>
        </div>

        <div class="container">
            <div class="content">


                <div id="button-1" class="inner-content">
                    <div class="row">
                        <!-- token card -->
                        <div class="col-md-5">
                            <h6 class="test"> <small> Ticket en service</small><br><br>
                                <strong>Numero du Ticket</strong> </h6>
                            <br>
                            <div class="card MCard">
                                <p class="text-center" style="color: F95959 !important; font-size: 60px !important;">128</p>
                            </div>
                            <br><br><br><br>
                            <div class="card TCard mt-5 mr-auto">
                                Total des tickets reçu: 10 <br> Performance: Excellente
                            </div>
                        </div>
                        <!-- token card -->

                        <!-- call token card -->
                        <div class="col-md-7">
                            <div class="card MonCard">Suivant</div>
                            <div class="card MonCard">Appeler</div>
                            <div class="card MonCard">Rappeler</div>
                            <div class="card MonCard">Transferer</div>
                        </div>
                        <!-- call token card -->
                    </div>
                </div>


                <!-- (start)salle d'attente -->
                <div id="button-2" class="inner-content ">
                    <div class="table-responsive">
                        <div class="table-wrapper">
                            <div class="table-title">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <h2>TICKET</h2>
                                    </div>
                                    <div class="col-sm-6">
                                        <a href="#addEmployeeModal" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Ajouter un nouveau ticket</span></a>
                                        <a href="#deleteEmployeeModal" class="btn" data-toggle="modal"><i class="material-icons">&#xE15C;</i> <span>Supprimer</span></a>
                                    </div>
                                </div>
                            </div>
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>
                                            <span class="custom-checkbox">
                            <input type="checkbox" id="selectAll">
                            <label for="selectAll"></label>
                        </span>
                                        </th>
                                        <th>N° de ticket</th>
                                        <th>Service</th>
                                        <th>Numero de téléphone</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <span class="custom-checkbox">
                            <input type="checkbox" id="checkbox1" name="options[]" value="1">
                            <label for="checkbox1"></label>
                        </span>
                                        </td>
                                        <td>QLM 000333</td>

                                        <td>Retrait d'argent</td>
                                        <td>+225 56789876</td>
                                        <td>
                                            <a href="#editEmployeeModal" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Editer">&#xE254;</i></a>
                                            <a href="#deleteEmployeeModal" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Supprimer">&#xE872;</i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="custom-checkbox">
                            <input type="checkbox" id="checkbox2" name="options[]" value="1">
                            <label for="checkbox2"></label>
                        </span>
                                        </td>
                                        <td>QLM 000633</td>

                                        <td>Depôt de dossier</td>
                                        <td>+225 45678909</td>
                                        <td>
                                            <a href="#editEmployeeModal" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                                            <a href="#deleteEmployeeModal" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Supprimer">&#xE872;</i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="custom-checkbox">
                            <input type="checkbox" id="checkbox3" name="options[]" value="1">
                            <label for="checkbox3"></label>
                        </span>
                                        </td>
                                        <td>QLM 000783</td>

                                        <td>Demande de prêt</td>
                                        <td>+225 78987654</td>
                                        <td>
                                            <a href="#editEmployeeModal" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                                            <a href="#deleteEmployeeModal" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Supprimer">&#xE872;</i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="custom-checkbox">
                            <input type="checkbox" id="checkbox4" name="options[]" value="1">
                            <label for="checkbox4"></label>
                        </span>
                                        </td>
                                        <td>QLM 000493</td>

                                        <td>Depôt de dossier</td>
                                        <td>+225 54334578</td>
                                        <td>
                                            <a href="#editEmployeeModal" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                                            <a href="#deleteEmployeeModal" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Supprimer">&#xE872;</i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="custom-checkbox">
                            <input type="checkbox" id="checkbox5" name="options[]" value="1">
                            <label for="checkbox5"></label>
                        </span>
                                        </td>
                                        <td>QLM 000776</td>
                                        <td>Ouverture de compte</td>

                                        <td>+225 78954456</td>
                                        <td>
                                            <a href="#editEmployeeModal" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                                            <a href="#deleteEmployeeModal" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Supprimer">&#xE872;</i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="clearfix">
                                <div class="hint-text">Montrer de <b>5</b> à<b>25</b></div>
                                <ul class="pagination">
                                    <li class="page-item disabled"><a href="#">Précédent</a></li>
                                    <li class="page-item"><a href="#" class="page-link">1</a></li>
                                    <li class="page-item"><a href="#" class="page-link">2</a></li>
                                    <li class="page-item active"><a href="#" class="page-link">3</a></li>
                                    <li class="page-item"><a href="#" class="page-link">4</a></li>
                                    <li class="page-item"><a href="#" class="page-link">5</a></li>
                                    <li class="page-item"><a href="#" class="page-link">Suivant</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Edit Modal HTML -->
                <div id="addEmployeeModal" class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <form>
                                <div class="modal-header">
                                    <h4 class="modal-title">Ajouter un ticket</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label>N°de ticket</label>
                                        <input type="text" class="form-control" required>
                                    </div>
                                    <div class="form-group">
                                        <label>Services</label>
                                        <textarea class="form-control" required></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label>Numero de téléphone</label>
                                        <input type="text" class="form-control" required>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Annuler">
                                    <input type="submit" class="btn btn-success" value="Add">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- Edit Modal HTML -->
                <div id="editEmployeeModal" class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <form>
                                <div class="modal-header">
                                    <h4 class="modal-title">Editer un ticket</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label>N° de ticket</label>
                                        <input type="text" class="form-control" required>
                                    </div>
                                    <div class="form-group">
                                        <label>Service</label>
                                        <input type="email" class="form-control" required>
                                    </div>
                                    <div class="form-group">
                                        <label>Banque</label>
                                        <textarea class="form-control" required></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label>Numero de téléphone</label>
                                        <input type="text" class="form-control" required>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Annuler">
                                    <input type="submit" class="btn btn-info" value="Modifier">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- Supprimer Modal HTML -->
                <div id="deleteEmployeeModal" class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <form>
                                <div class="modal-header">
                                    <h4 class="modal-title">Supprimer un ticket</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                </div>
                                <div class="modal-body">
                                    <p>Voulez-vous vraiment supprimer ce ticket ?</p>
                                    <p class="text-warning"><small>Action irreversible</small></p>
                                </div>
                                <div class="modal-footer">
                                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Annuler">
                                    <input type="submit" class="btn btn-danger" value="Supprimer">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- (end)salle d'attente-->



                <!-- (start)tickets réservés-->
                <div id="button-3" class="inner-content">
                    <br> <br> <br> <br>

                    <table id="example" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th>N° de ticket</th>
                                <th>Service</th>
                                <th>Numero de téléphone</th>
                                <th>Date de réservation</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>QLM000345</td>
                                <td>Demande de prêt</td>

                                <td>+225 56789876</td>
                                <td>25/09/2020</td>

                            </tr>
                            <tr>
                                <td>QLM000346</td>
                                <td>Ouverture de compte</td>

                                <td>+225 67890988</td>
                                <td>29/09/2020</td>

                            </tr>
                            <tr>
                                <td>QLM000578</td>
                                <td>Depôt d'argent</td>

                                <td>+225 66778899</td>
                                <td>21/10/2020</td>

                            </tr>
                            <tr>
                                <td>QLM000234</td>
                                <td>Retrait d'argent</td>

                                <td>+225 88990000</td>
                                <td>15/10/2020</td>

                            </tr>
                            <tr>
                                <td>QLM000567</td>
                                <td>Reclammation</td>
                                <td>+225 54321122</td>
                                <td>01/10/2020</td>
                            </tr>
                        </tbody>
                    </table>
                    <br> <br> <br>
                </div>
                <!-- (end) tickets réservés-->



                <!-- (start)service ett agence -->
                <div id="button-4" class="inner-content">
                    <br> <br> <br>
                    <div class="card">
                        <div class="card-body">
                            <form class="form-inline" action="/action_page.php">
                                <div class="form-group">
                                    <label for="text">Nom du Service</label>&nbsp;
                                    <input type="text" class="form-control" id="service" placeholder="Entrer le nom du service" name="email">
                                </div>
                                &nbsp; &nbsp;
                                <button type="submit" class="btn btn-success">Enrégistrer</button>
                            </form>
                        </div>
                    </div>

                    <br> <br>


                    <div class="Malist">

                        <ul class="list-group">

                            <li class="list-group-item list-group-item-secondary text-center">
                                <h4>Liste des services</h4>
                            </li>
                            <li class="list-group-item">Ouverture de compte</li>
                            <li class="list-group-item">Retrait d'argent</li>
                            <li class="list-group-item">Depôt de dossier</li>
                            <li class="list-group-item">Reclammation</li>
                            <li class="list-group-item">Renseignement</li>
                        </ul>
                    </div>
                </div>
                <!-- (start)service et agence -->

            </div>
        </div>

    </div>
</div>