<!-- formulaire d'Inscription-entreprise -->
<!-- <div id="register-section">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-6">
    <div class="login-box mt-5 mb-5">
        <h1>S'insrire</h1>
        <div class="textbox">
          <input type="text" name="nom" id="nom" placeholder="Nom">
        </div>
      
        <div class="textbox">
          <input type="email" name="email" id="email" placeholder="Email">
        </div>

        <div class="textbox">
          <input type="text" name="nemeroTel" id="nemeroTel" placeholder="N° de téléphone">
        </div>

        <div class="textbox">
          <input type="text" name="ville" id="ville" placeholder="Ville">
        </div>

        <div class="textbox">
          <input type="text" name="Localisation" id="localisation" placeholder="Localisation (commune/quartier...)">
        </div>

        <div class="textbox">
          <input type="password" name="motDePasse" id="motDePasse" placeholder="Mot de passe">
        </div>

        <div class="textbox">
          <input type="password" placeholder="Confirmer le mot de passe">
        </div>
      
        <input type="submit" class="btn" value="Inscription">
      </div>
      <br>
    </div>
    <div class="col-md-2"></div>
  </div>
</div> -->

<!-- formulaire d'Inscription-entreprise -->




<div class="CNT">
    <br>
    <br>
    <div class="align-items-center">
        <br><br>
        <div class="login-box">
            <h2>Renseigner ce formulaire svp</h2>
            <form id="monform">
                <div class="user-box">
                    <input type="text">
                    <label>Nom</label>
                </div>
                <div class="user-box">
                    <input type="text">
                    <label>Email</label>
                </div>
                <div class="user-box">
                    <input type="text">
                    <label>N° de téléphone</label>
                </div>
                <div class="user-box">
                    <input type="text">
                    <label>Ville</label>
                </div>
                <div class="user-box">
                    <input type="text">
                    <label>Localisation (commune/quartier...)</label>
                </div>
                <div class="user-box">
                    <input type="text">
                    <label>Secteur d'activité</label>
                </div>
                <div class="user-box">
                    <input type="password">
                    <label>Password</label>
                </div>
                <a href="#">
                    <span></span>
                    <span></span> S'inscrire
                </a>
            </form>
        </div>
        <br><br>
    </div>
    <br>
    <br>
</div>